<launch>

<!-- Arguments --> 
  <arg name="slam_methods" default="gmapping"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>


<!--  <arg name="map_file" default="$(find coffee_bot)/maps/bare_map.yaml"/>-->
  <arg name="move_forward_only" default="false"/>
  <arg name="open_rviz" default="true"/>
  <arg name="add_obstacle" default="false"/>

  <arg name="initial_pose_x" default="-3"/>
  <arg name="initial_pose_y" default="1"/>
  <arg name="initial_pose_a" default="0"/>

 <!-- Gazebo environment-->
  <include file="$(find coffee_bot)/src/launch/auto_gmapping/add_obstacle_house.launch" if="$(arg add_obstacle)"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" unless="$(arg add_obstacle)"/>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>

  <!-- Map server --> 
<!--  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>-->

 <!--gmapping -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_$(arg slam_methods).launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

  <!-- move_base customized --> 
  <include file="$(find coffee_bot)/launch/auto_gmapping/move_base_hw4.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <param name="/use_sim_time" value = "true"/>
  <node pkg="coffee_bot" name="auto_gmapping" type="auto_gmapping"/>

  <!--<param name="tf_prefix" value="hw4"/> -->
</launch>

