<launch>

    <arg name="cmd_vel_topic" default="cmd_vel"/>
    <arg name="model" default="burger"/>

    <!-- move_base -->
    <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
        <rosparam file="$(find coffee_bot)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find coffee_bot)/param/global_costmap_params.yaml" command="load" />
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>

    <rosparam file="$(find coffee_bot)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find coffee_bot)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find coffee_bot)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find coffee_bot)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find coffee_bot)/param/move_base_params.yaml" command="load" />

<!--    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />-->


<!--&lt;!&ndash;    local planner&ndash;&gt;-->
<!--        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>-->
        <rosparam file="$(find coffee_bot)/param/local_planner_config.yaml" command="load" />
        <!-- For Pose follower local planner -->
    <param name="base_local_planner" value="pose_follower/PoseFollower" />


<!--          <param name="base_global_planner" value="carrot_planner/CarrotPlanner"/>-->
        <param name="base_global_planner" value="navfn/NavfnROS"/>
<!--          <param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
<!--        global planner - sbpl lattice-->
    <rosparam file="$(find coffee_bot)/param/global_planner_params.yaml" command="load"/>
<!--    <param name="base_global_planner" value="SBPLLatticePlanner"/>-->
<!--    <param name="SBPLLatticePlanner/primitive_filename" value="$(find coffee_bot)/param/aw_sbpl.mprim"/>-->

  </node>
</launch>
